source [find interface/stlink-v2.cfg]
#transport select swd
 
set CHIPNAME STM32F103
source [find target/stm32f1x_stlink.cfg]
 
# did not yet manage to make a working setup using srst
#reset_config srst_only
#reset_config  srst_nogate
 
adapter_nsrst_delay 100
adapter_nsrst_assert_width 100
 
init
targets
reset halt
